
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    padding: 0; 
    margin: 0; 
    overflow-x: hidden; 
}

header {
   background-color: #d7d1d1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px; 
}

/* Для мобільних пристроїв */
@media only screen and (max-width: 600px) {
    .header {
        height: 70px;
    }
       .search-form input[type="text"] {
    /* width: 100%; */
    width: 160px !important   ; /* Ширина пошукового поля */
    height: 20px;  /* Розтягуємо пошукове поле на всю ширину */
  }


   .card-container {
    width: calc(100% ) !important   ;  
    display: inline-block;
    margin: 0 !important;
  }
   main {
    margin-top: 70px !important; /* Змінюємо відступ у головному вмісті */
  }



  .modal-content {
    width: 80% !important   ; /* Ширина модального вікна */
    height: 50% !important   ; /* Висота модального вікна */
  }


 .close {
        display: block!important ;
        top: 10px !important ;
        right: 10px !important ;
    }
  

}




/* Для мобільних пристроїв */


/* Для планшетів */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  header {
    height: 80px; /* Зменшуємо висоту хедера */
  }

        .search-form input[type="text"] {
    /* width: 100%; */
    width: 480px !important   ; /* Ширина пошукового поля */
    height: 20px;  /* Розтягуємо пошукове поле на всю ширину */
  }


  main {
    margin-top: 90px; /* Змінюємо відступ у головному вмісті */
  
  }

   .card-container {
    width: calc(49% ) !important   ;  
    display: inline-block;
    margin: 0 !important;
  }

  
  .modal-content {
    width: 80% !important   ; /* Ширина модального вікна */
    height: 70% !important   ; /* Висота модального вікна */
  }


 .close {
        display: block!important ;
        top: 10px !important ;
        right: 10px !important ;
    }
  
}




h1,
h2,
h3,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}


footer {
    
   background-color: #d7d1d1;
            position: fixed;
            height: 20px;
            bottom: 0;
            right: 0;
            width: 100%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            z-index: 1000; /* Забезпечуємо, щоб хедер був над усіма іншими елементами */

}

img {
    display: block;
    height: 100%; 
}



a{
    text-decoration: none;
}

.photo-card img {
    display: block;
    width: 100%;
    height: 100%; 
    margin: 0;
     flex: 1; 
    object-fit: cover;
}
    


.photo-card {
        position: relative;
        flex: 0 0 calc(33.33%);
        margin: 15px 15px 5px 15px;
        border-radius: 4px;
        
        border: 1px solid #ddd;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex; /* Додано */
        justify-content: justify; /* Додано */
    }



.info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        transition: opacity 0.3s ease;
        opacity: 0;
        /* margin-top: 10px; */ /* Видаліть цю строку */
        display: flex;
        justify-content: space-between;
    }
    

.photo-card:hover .info {
    opacity: 1; /* При наведенні кнопки стають видимими */
}


.info-item {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
color:black;


}



.image-link {
    display: inline-block;
    position: relative;
}

.button-container {
    position: absolute;
    top: 10px; /* Відстань від верхнього краю карточки */
    display: flex;
    justify-content: space-between;
    width: calc(100% ); 
}

.toggle-favorite,
.download-button {
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-favorite:hover,
.download-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}


.card-container {
    display: inline-block;
    width: calc(33% - 30px); /* Розрахунок ширини карточки для відображення по три в рядок з відступами */
    margin: 15px;
}







/* Стилі для посилань у header */
header ul {
    list-style-type: none; /* Позбавитися від маркерів списку */
    display: flex; /* Розмістити посилання в один рядок */
}

header ul li {
    margin-right: 20px; /* Відстань між посиланнями */
}

header ul {
    list-style-type: none; /* Видалення маркерів списку */
    padding: 0; /* Видалення відступів */
    margin: 0; /* Видалення зовнішніх відступів */
}

header ul a {
    text-decoration: none; /* Видалення підкреслення з посилань */
    color: #333; /* Колір тексту */
    font-weight: bold; /* Жирний шрифт */
    transition: color 0.3s ease; /* Плавний перехід кольору при наведенні курсору */
}

header ul a:hover {
    color: #666; /* Зміна коліру тексту при наведенні курсору */
}




/* Стилі для пошукового input */
.search-form {
    margin: 0 auto; /* Відстань від header до пошукової форми */
}

.search-form input[type="text"] {
    width: 700px; /* Ширина пошукового поля */
    height: 30px; /* Висота пошукового поля */
    padding: 10px; /* Внутрішні відступи */
    border-radius: 20px; /* Скруглені кути */
    border: 2px solid #616263; /* Рамка */
    outline: none; /* Відмінити зображення контуру при фокусі */
    transition: border-color 0.3s ease; /* Плавна анімація зміни колір рамки */
}

.search-form input[type="text"]:focus {
    border-color: #e89797; /* Змінити колір рамки при фокусі */
}

.active{
    text-decoration: underline;
}

#alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}



.alert {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8d7da;
    color: #721c24;
    margin-bottom: 10px;
}
/* Стилі для модального вікна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 80px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);  
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 70%; 
    height: 75%; 
  }
  body.modal-open {
    overflow: hidden;
}
  
  .close {
    position: absolute;
    top: 25px;
    right: 145px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
 
  .photo-card .button-container button {
    padding: 10px 15px; 
    font-size: 20px; 
  }



.no-favorites {
    text-align: center; 
}

.no-favorites img {
    max-width: 100%; 
    height: auto; 
   margin: 0 auto;
}

.default-image {
    text-align: center; /* Вирівнюємо текст по центру */
    margin-top: 50px; /* Встановлюємо відступ зверху для вирівнювання по вертикалі */
}

.default-image img {
    display: block; /* Встановлюємо властивість display на block, щоб можна було використовувати margin: auto */
    margin: 0 auto; /* Вирівнюємо картинку по горизонталі */
    max-width: 100%; /* Задаємо максимальну ширину для адаптивності */
    height: auto; /* Автоматично обчислюємо висоту для збереження пропорцій */
}

main {
    
    margin-top: 80px; /* Замініть 80px на висоту вашого хедера */
    background-image: url(../img/fondo.png);
    background-size: cover; /* Розтягнути фонове зображення, щоб воно вмістилося в блок main */
    background-repeat: repeat; /* Заборонити повторення фонового зображення */
    background-position: center; /* Вирівняти фонове зображення по центру */
}

.footer_text{

    text-align: center;
    font-size: 12px;
}