
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    padding: 0; 
    margin: 0; 
    overflow-x: hidden; 
}

header {
   background-color: #d7d1d1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px; 
}

main {
    margin-top: 80px;
    background-image: url(../img/fondo.png);
    background-size: cover; 
    background-repeat: repeat; 
    background-position: center; 
        background-attachment: fixed;
   
 
}


@media only screen and (max-width: 600px) {
    .header {
        height: 70px;
    }
       .search-form input[type="text"] {
    /* width: 100%; */
    width: 160px !important   ; /* Ширина пошукового поля */
    height: 20px;  /* Розтягуємо пошукове поле на всю ширину */
  }


   .card-container {
    width: calc(100% ) !important   ;  
    display: inline-block;
    margin: 0 !important;
  }
   main {
    margin-top: 70px !important; /* Змінюємо відступ у головному вмісті */
  }



  .modal-content {
    width: 80% !important   ; /* Ширина модального вікна */
    height: 50% !important   ; /* Висота модального вікна */
  }


 .close {
        display: block!important ;
        top: 10px !important ;
        right: 10px !important ;
    }
  

}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  header {
    height: 80px; /* Зменшуємо висоту хедера */
  }

        .search-form input[type="text"] {
    /* width: 100%; */
    width: 480px !important   ; /* Ширина пошукового поля */
    height: 20px;  /* Розтягуємо пошукове поле на всю ширину */
  }


  main {
    margin-top: 90px; /* Змінюємо відступ у головному вмісті */
  
  }

   .card-container {
    width: calc(49% ) !important   ;  
    display: inline-block;
    margin: 0 !important;
  }

  
  .modal-content {
    width: 80% !important   ; /* Ширина модального вікна */
    height: 70% !important   ; /* Висота модального вікна */
  }


 .close {
        display: block!important ;
        top: 10px !important ;
        right: 10px !important ;
    }
  
}



h1,
h2,
h3,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}


footer {
    
   background-color: #d7d1d1;
            position: fixed;
            height: 20px;
            bottom: 0;
            right: 0;
            width: 100%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            z-index: 1000; /* Забезпечуємо, щоб хедер був над усіма іншими елементами */

}

img {
    display: block;
    height: 100%; 
}

a{
    text-decoration: none;
}

.photo-card img {
    display: block;
    width: 100%;
    height: 100%; 
    margin: 0;
     flex: 1; 
    object-fit: cover;
}
    
.photo-card {
        position: relative;
        flex: 0 0 calc(33.33%);
        margin: 15px 15px 5px 15px;
        border-radius: 4px;
        
        border: 1px solid #ddd;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex; 
        justify-content: justify;
    }



.info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        transition: opacity 0.3s ease;
        opacity: 0;
        display: flex;
        justify-content: space-between;
    }
    

.photo-card:hover .info {
    opacity: 1; 
}


.info-item {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
color:black;


}

.image-link {
    display: inline-block;
    position: relative;
}

.button-container {
    position: absolute;
    top: 10px; 
    display: flex;
    justify-content: space-between;
    width: calc(100% ); 
}

.toggle-favorite,
.download-button {
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-favorite:hover,
.download-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}


.card-container {
    display: inline-block;
    width: calc(33% - 30px); 
    margin: 15px;
}


header ul {
    list-style-type: none; 
    display: flex;
}

header ul li {
    margin-right: 20px; 
}

header ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

header ul a {
    text-decoration: none; 
    color: #333; 
    font-weight: bold; 
    transition: color 0.3s ease; 
}

header ul a:hover {
    color: #666; 
}



.search-form {
    margin: 0 auto; 
}

.search-form input[type="text"] {
    width: 700px; 
    height: 30px; 
    padding: 10px; 
    border-radius: 20px; 
    border: 2px solid #616263; 
    outline: none; 
    transition: border-color 0.3s ease; 
}

.search-form input[type="text"]:focus {
    border-color: #e89797; 
}

.active{
    text-decoration: underline;
}

#alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

}

.alert {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8d7da;
    color: #721c24;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 80px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);  
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 70%; 
    height: 75%; 
  }
  body.modal-open {
    overflow: hidden;
}
  
  .close {
    position: absolute;
    top: 25px;
    right: 145px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
 
  .photo-card .button-container button {
    padding: 10px 15px; 
    font-size: 20px; 
  }



.no-favorites {
    text-align: center; 
}

.no-favorites img {
    max-width: 100%; 
    height: auto; 
   margin: 0 auto;
}

.default-image {
    text-align: center; 
    margin-top: 50px; 
}

.default-image img {
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
}


.footer_text{

    text-align: center;
    font-size: 12px;
}